/*RGB(235, 228, 209)Beige
RGB(180, 180, 179)Gris
rgb(38, 87, 124)Armada
rgb(229, 86, 4)Naranja*/


body{

  background-color:RGB(235, 228, 209) ;

/*background: rgb(147, 177, 166) url(img/iglesia.jfif)no-repeat cover;*/
/*otra forma de optimizar el codigo para el fondo*/
}
.logo{
    border-top: 5px dotted rgb(24, 61, 61);
}
.container-fluid{
    text-align: center;
}
/*.container-fluid{
    -webkit-text-stroke-color: black;
    width: 100%;
    background: rgb(61,85,88);
background: linear-gradient(315deg, rgba(61,85,88,1) 34%, rgba(147,177,166,1) 73%);
opacity: 0.7;asi se crea un fondo traslucido*/

hr{
    border: 5px solid rgb(229, 86, 4);/*linea sutil con color*/
    border-radius: 10px;/*genera una linea gruesa*/
}

p{
    color: black;
}
h3{
    font-style:normal;color: black;}
/*img {
    position: absolute;
    left: 0px;
    top:0px;
    z-index: -1
    esto sirve para poner una imagen atras del texto*/
a{
    color: black;
}
.header{
    background: rgb(61,85,88);
    background: linear-gradient(171deg, rgba(61,85,88,1) 38%, rgba(250,132,47,1) 54%);

    

}
.imagen{
    text-align: left;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-style:normal;
}
.div{
    background-color:rgb(38, 87, 124) ;
}
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
    background-color(180, 180, 179);
}
.ima{
    background-image: image(center);
    position:fixed;
    left: 10px;
    top: 30px;
    z-index: -1
}
.bod{
    background-color: rgb(38, 87, 124);
}
element.style{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
